# Ignore node_modules
/node_modules/

# Ignore log files
*.log

# Ignore the environment configuration file
.env

# Ignore IDE and OS-specific files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Ignore build and distribution files
/dist/
build/
node_modules

# ML_Service ignores
ML_Service/*.h5
ML_Service/*.pb
ML_Service/*.ckpt
ML_Service/__pycache__/
ML_Service/*.npy
ML_Service/*.npz
ML_Service/dataset/
ML_Service/data/
ML_Service/*.log
node_modules
